td {
    text-align : center;
    font-weight : bold;
   }
   hr.a{
    position: relative;
    bottom: -402px;

   }
   table{
    border: 0.05em solid black;
    margin-top: 4em;
    margin-left: 19em;
   }

  .btAjoutEMP{
      margin-left: 19em;
  }